@import '~@/styles/resources.less';
// website css reset
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
// 文档样式修改
.docs-content {
    a {
        color: @link-color;
    }
    // 标题锚点样式
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: @text-color;
        border-bottom: 0;
        a {
            float: left;
            margin-left: -20px;
            opacity: 0;
            cursor: pointer;
        }
        &:hover a {
            opacity: 0.8;
        }
    }
    .warning,
    .tip {
        padding: 8px 16px;
        background-color: @error-bg;
        border-radius: 4px;
        // border-left: #fe6c6f 4px solid;
        margin: 20px 0;
        color: @text-color;
        font-size: 14px;
        & p {
            margin: 12px 0;
        }
    }
    .tip {
        background-color: @theme-bg;
    }
    .warning code,
    .tip code {
        background-color: rgba(255, 255, 255, 0.7);
    }
    tr th {
        min-width: 80px;
        font-weight: 400;
        color: @text-color;
        text-align: left;
    }
    ul {
        list-style: circle;
    }
    .markdown-body table {
        display: table;
    }
    .markdown-body table td,
    .markdown-body table th {
        padding: 12px 10px;
        border-color: @border-color;
    }
    .markdown-body table tr {
        border-top-color: @border-color;
    }
    .markdown-body table tr:nth-child(2n) {
        background: transparent;
    }
    td,
    th {
        font-size: 14px;
        &:first-child {
            width: 140px;
        }
    }
    .markdown-body {
        color: @text-color;
    }
}
// website 公共样式
.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.bg-yellow {
    background: #ffe8c9;
}
.bg-red {
    background: #ffcacb;
}
.bg-green {
    background: #c2f3cb;
}
.bg-blue {
    background: @theme-bg;
}
.color-blue {
    color: @theme-color;
}
.docs-content div.box {
    width: 100%;
    height: 300px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-data-v {
    background: #0c2346;
}
.bg-data-v-item {
    background: #0a3064;
}
.data-v-color {
    color: #1cafd8;
}
