@import '~@/styles/var.less';
html,
body {
    height: 100%;
    margin: 0;
}
// 文档样式修改
.docs-content {
    a {
        color: @link-color;
    }
    // 标题锚点样式
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: @text-color;
        border-bottom: 0;
        a {
            float: left;
            margin-left: -20px;
            opacity: 0;
            cursor: pointer;
        }
        &:hover a {
            opacity: 0.8;
        }
    }
    ul,
    li {
        list-style: initial;
    }
    .warning,
    .tip {
        padding: 8px 16px;
        background-color: @error-bg;
        border-radius: 4px;
        // border-left: #fe6c6f 4px solid;
        margin: 20px 0;
        color: @text-color;
        font-size: 14px;
        & p {
            margin: 12px 0;
        }
    }
    .tip {
        background-color: @theme-bg;
    }
    .warning code,
    .tip code {
        background-color: rgba(255, 255, 255, 0.7);
    }
    tr th {
        font-weight: 400;
        color: @text-color;
        text-align: left;
    }
    .markdown-body table td,
    .markdown-body table th {
        padding: 14px 10px;
        border-color: @border-color;
    }
    .markdown-body table tr {
        border-top-color: @border-color;
    }
    .markdown-body table tr:nth-child(2n) {
        background: transparent;
    }
    td,
    th {
        &:first-child {
            width: 140px;
        }
    }
    .markdown-body {
        color: @text-color;
    }
}
