// 变量
@theme-color: #448aff;
@link-color: #448aff;
// @link-hover-color: tint(@link-color, 20%);
// @link-active-color: shade(@link-color, 5%);
@text-color: #2c3e50;
@info-text-color: #8a96a3;
@theme-bg: tint(@link-color, 88%);
@error-color: #f44336;
@error-bg: tint(@error-color, 90%);
@border-color: #eaecef;
@font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
@code-family: Consolas, Menlo, Courier, monospace;

@dv-theme-color: #00ccff;

@duration: 0.3s;
